.app {
  text-align: center;
	width: 100vw;
	height: 100vh;
	background-color: lightblue;
}

.app-container {
	height: 100%;
	font-size: 5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.audio-player {
	display: flex;
	align-items: center;
}
.player-indicator {
	height: 80px;
}
.player-indicator.active {
	animation: logo-spin infinite 1.82s linear;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
