.app-header-container {
	position: -webkit-sticky; /* Safari */
  position: sticky;
	top: 0;
	background-color: #f0f1ff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
}

.app-logo-img {
	max-width: 38.2vw;
	max-height: 100px;
}

.app-logo {

}

.header-buttons-container {
	display: flex;
}

.header-button {
	padding: 1em;
	font-size: large;
}
