.archive-container {
	display: flex;
	flex-direction: column;
}

a.show-tile-link {
	color: black;
}

.show-tile-container {
	display: flex;
	align-items: flex-start;
}

.show-tile-image {
	border-style: solid;
	border-width: thick;
	width: 38.2%;
	max-width: 300px;
	margin: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.show-tile-image:before {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.show-tile-content {
	align-self: center;
	margin: 1em;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	max-width: calc(100vw - 25vw - 4em);
}
